header {
  height: 35px;
  width: 100vw;
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button {
  margin-left: 20px;
  border-color: transparent;
  background: transparent;
}

.headerSearch {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgb(218, 218, 218);
}

.profile {
  width: 100%;
  height: 150px;
  background: rgb(247, 247, 247);
}

.mainSection {
  width: 50%;
  min-height: 100vh;
  background: gray; 
  margin: 10px 10px 0 10px;
}

.sideSection {
  width: 20%;
  min-height: 100vh;
  margin: 10px 0 0 0;
}

.searchBar {
  width: 100%;
  height: 40px;
  background: rgb(247, 247, 247);
}

.trends {
  width: 100%;
  height: 300px;
  background: rgb(247, 247, 247);
  margin: 10px 0 0 0;
}

.follow {
  width: 100%;
  height: 300px;
  background: rgb(247, 247, 247);
}

.about {
  width: 100%;
  height: 125px;
  background: rgb(247, 247, 247);
  margin-top: 10px;
}